.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    margin-left: 2px;
    color: #000;
    cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}
.real_estate_tab label {
    position: relative;
    margin-left: 30px;
    font-size: 16px;
}
.real_estate_tab .tab_button+label::before {
    position: absolute;
    top: 2px;
    left: -30px;
}