/*!
Theme Name: New England
Theme URI: http://underscores.me/
Author: GPS
Author URI: https://globalpartnersoft.com
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: new_england
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

New England is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

.catalog_header-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% / 3 * 1 - 60px);
    margin-left: 30px;
    margin-right: 30px;
}
.catalog_header-col:last-child {
    width: calc(100% / 3 * 2 - 60px);
}
.catalog_title {
    width: 100%;
    margin: 0;
    margin-bottom: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #1C1F1E;
    font-size: 36px;
}
.catalog_header_text p{
    width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #1C1F1E;
}
.premmerce-filter-ajax-container .woocommerce-info {
    text-align: center;
    background-color: transparent;
    margin-bottom: 120px;
}
.premmerce-filter-ajax-container .woocommerce-info::before{
    content: "* ";
    color: #F84857;

}
.bread_crumbs_content a,
.bread_crumbs_content .breadcrumb_last{
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #909090;
    margin-left: 21px;
    margin-right: 21px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.bread_crumbs_content a {
    white-space: nowrap;
}

.bread_crumbs_content .breadcrumb_last{
    color: #1C1F1E;
}

.bread_crumbs_content a::after{
    content: "";
    position: absolute;
    top: 6px;
    right: -24px;
    width: 7px;
    height: 7px;
    background-color: transparent;
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}

.bread_crumbs_content .breadcrumb_last::after{
    display: none;
}

/* Main filter */

.filter_item_container .widget_premmerce_filter_filter_widget {
    display: flex;
    width: 100%;
}
.filter_item_container .filter {
    flex-direction: row;
    flex-wrap: wrap;
}
.filter_item_container .filter__top-line .filter__item,
.filter_item_container .filter__hidden-line .filter__item {
    min-width: 200px;
    max-width: 297px;
    padding: 0 20px;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 30px;
}


.filter_item_container .filter__hidden-line .filter__item:last-of-type{
    margin-left: 0;
}

.filter_item_container .filter__item:first-child{
    margin-left: 0;
}
.filter_item_container .filter__top-line, .filter_item_container .filter__hidden-line {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}
.filter_item_container .filter__hidden-line .filter__item.filter_tax_building {
    max-width: 520px;
}
.filter_item_container .filter__hidden-line .filter__item.filter_tax_building .filter__properties-list {
    /*display: table-cell;
    column-count: 3;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.filter_item_container .remmerce-filter-body .filter__top-line .filter__item:first-child {
    margin-left: 20px;
}
.filter_item_container .remmerce-filter-body .filter__hidden-line .filter__item:first-child {
    margin-left: 20px;
}
.filter_item_container .filter__hidden-line {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.filter_item_container .filter__item.filter__item--type-checkbox .filter__checkgroup-link {
    width: auto;
    max-width: 180px;
    margin-bottom: 8px;
}
.filter__top-line .filter__item.filter__item--type-checkbox .filter__properties-list {
    flex-direction: row;
    flex-wrap: wrap;
    /*max-height: 42px;*/
}

.filter__item.filter__item--type-checkbox .filter__properties-item {
    margin-bottom: 3px;
    margin-right: 15px;
}
.filter_item_container .filter__range-slider {
    display: none !important;
}
.filter_item_container .filter__item.filter__item--type-checkbox.prise .filter__title,
.filter_item_container .filter__item.filter__item--type-checkbox.size_m2 .filter__title,
.filter_item_container .filter__item.filter__item--type-checkbox .filter__title {
    margin: 0;
}
.filter_item_container .filter__item.filter__item--type-checkbox .filter__title {
    margin-bottom: 0;
}

.widget_premmerce_filter_filter_widget + .widget_premmerce_filter_filter_widget {
    display: none !important;
}
.filter__checkgroup-title {
    padding-left: 30px;
}


.filter__header .filter__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #1C1F1E;
}
.filter__slider_from-to {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #111333;
    margin-right: 10px;
}
.filter__item--type-slider .filter__slider-control-column {
    padding: 0;
}
.filter__item--type-slider .filter__header .filter__title {
    margin-bottom: 0;
}
.filter__slider-to-span {
    margin-left: 10px;
}
.filter__sliderafter {
    margin-left: 10px;
}
.filter__slider-control-group {
    margin: 0;
}
.filter__slider-control {
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #909090;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #111333;
}
.filter__item--type-checkbox .filter__checkgroup-control {
    display: none;
}
.filter__item--type-checkbox .filter__checkgroup-title {
    position: relative;
}
.filter__item--type-checkbox .filter__checkgroup-title::before {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #909090;
}
.filter__item--type-checkbox .filter__checkgroup-title::after {
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    content: "";
    width: 12px;
    height: 8px;
    background-color: transparent;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-bottom: 4px;
}
.filter__item--type-checkbox input[type=checkbox]:checked + label + .filter__checkgroup-title::before {
    background-color: #909090;
}
.widget.clearfix.widget_premmerce_filter_active_filters_widget.premmerce-active-filters-widget-wrapper {
    width: 100%;
}
.premmerce-active-filters-widget-wrapper .pc-active-filter__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.pc-active-filter__list-item {
    position: relative;
}
.pc-active-filter__list-item .pc-active-filter__item-link {
    display: block;
    width: 100%;
    text-align: center;
}
.pc-active-filter__item-delete {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 14px;
    height: 14px;
    border: none;
    transform: translateY(-50%);
}
.pc-active-filter__item-delete::before {
    position: absolute;
    top: 7px;
    content: '';
    display: block;
    width: 18px;
    height: 1px;
    background-color: #909090;
    transform: rotate(45deg);

}
.pc-active-filter__item-delete::after {
    position: absolute;
    top: 7px;
    content: '';
    display: block;
    width: 18px;
    height: 1px;
    background-color: #909090;
    transform: rotate(-45deg);
}
.pc-active-filter__item-text-el {
    font-size: 14px;
    color: #909090;
}
.array_block {
    position: absolute;
    top: 21px;
    right: -14px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.play_video.first{
    display: flex!important;
}
.play_video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.play_video img {
    width: 100%!important;
    height: 100%!important;
}
.play_video:before {
    content: '';
    position: absolute;
    background-image: url("img/play-video.svg");
    width: 52px;
    height: 52px;
    background-size: cover;
    display: inline-block;
}

.sharelist-popup {
    position: absolute;
    display: flex;
    background: white;
    right: 0px;
    bottom: -40px;
    padding: 5px;
}
.sharelist-popup {
    right: 170px;
}
.crumbs .sharelist-popup {
    position: absolute;
    display: flex;
    background: transparent;
    right: 16px;
    bottom: -6px;
    padding: 5px;
}
.single-product .crumbs .share_link_item_span {
    display: none;
}
.single-product .crumbs .link_print_container {
    right: 0px;
    top: 2px;
}
.print_container .card_map_item.list .card_map_list > li:first-child {
    list-style: none;
}
.sharelist-popup a {
    margin: 0 5px;
}
.share_link_item {
    float: right;
}
.share_link_item img {
    width: 18px;
    height: auto;
}
.share_link_item_span {
    position: absolute;
    right: 0;
    top: 2px;
}
#formpdf {
    width: 100%;
    display: block;
    max-width: 240px;
}
/* End Main filter */
@media screen and (max-width: 950px) {
    .filter_item_container .filter__hidden-line .filter__item.filter_tax_building {
        max-width: 400px;
    }
    .filter_item_container .filter__hidden-line .filter__item.filter_tax_building .filter__properties-list {
        column-count: 2;
    }
}
@media screen and (max-width: 767px) {
    .filter_item_container .filter__hidden-line .filter__item.filter_tax_building .filter__properties-list {
        column-count: 1;
    }
    .filter_item_container .filter,
    .filter_item_container .filter__top-line,
    .filter_item_container .filter__hidden-line{
        flex-direction: column;
    }
    .filter_item_container .filter__hidden-line .filter__item {
        min-width: 300px;
        max-width: 400px;
    }
    .filter_item_container .filter__top-line .filter__item {
        min-width: 350px;
        max-width: 450px;
    }
    #formpdf {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .header_logo {
        position: static;
        margin: 0;
        margin-right: 30px;
      }

      .filter_item_container .filter__hidden-line{
          justify-content: flex-start;
      }
}
@media(max-width:765px){
    .bread_crumbs_content a{
        font-size: 12px;
    }
    .bread_crumbs_content .breadcrumb_last{
        width: 300px;
    }
}
@media(max-width:570px){
    .bread_crumbs_content a{
        margin-bottom: 12px;
        font-size: 14px;
    }

    .filter_hide_show .filter__hidden-line .filter__item{
        max-width: 100%;
        width: 100%;
    }
}
@media(max-width:370px){
    .bread_crumbs_content a{
        margin-left: 13px;
        margin-right: 13px;
    }
    .bread_crumbs_content a::after{
        right: -14px;
    }

}


